<div class="text-start mt-3 ms-3">
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="backToHome()"
  >
    <i class="bi bi-arrow-left-circle-fill d-inline-block"></i>
    <span class="ms-2 d-none d-md-inline-block">Volver</span>
  </button>
</div>
<div class="row mt-3 mx-3">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header"><h2>Change your password</h2></div>
      <div class="card-body">
        <form>
          <div class="col-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4">
            <div class="mt-2">
              <label for="inputPassword" class="visually-hidden"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="inputPassword"
                placeholder="Password"
                [(ngModel)]="password"
              />
            </div>
            <div class="mt-2">
              <label for="inputConfirmPassword" class="visually-hidden">
                Confirm Password
              </label>
              <input
                type="password"
                class="form-control"
                id="inputConfirmPassword"
                placeholder="Confirm Password"
                [(ngModel)]="confirmPassword"
              />
            </div>
            <div class="text-center mt-2">
              <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
