@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
